@using Microsoft.AspNetCore.Html
@using WebApplication2.Models
@model List<LitRefModel>
@{
    Layout = "_Layout";
    var organisationsInfos = (IEnumerable<OrganisationsInfo>)ViewData["organisations"];
    var keywordsString = (string)ViewData["keywords"];
    var authors = (IEnumerable<AuthorsInfo>) ViewData["authors"];
    var dataBase = (Databases) ViewData["dbData"];
    var countriesString = (string) ViewData["countries"];
    string title = string.IsNullOrEmpty(dataBase.Name_rus) ? dataBase.Name_eng : dataBase.Name_rus;
    ViewBag.Title = title;
    Dictionary<string, string> dbInfoDictionary = new Dictionary<string, string>();
    dbInfoDictionary.Add("Название", string.IsNullOrEmpty(dataBase.Name_rus) ? dataBase.Name_eng : dataBase.Name_rus);
    dbInfoDictionary.Add("Аббривеатура", string.IsNullOrEmpty(dataBase.Abbreviation_rus) ? dataBase.Abbreviation_eng : dataBase.Abbreviation_rus);
    dbInfoDictionary.Add("Примечание", string.IsNullOrEmpty(dataBase.Comments_rus) ? dataBase.Comments_eng : dataBase.Comments_rus);
    dbInfoDictionary.Add("Ключевые слова", keywordsString);
    dbInfoDictionary.Add("Страны разработчики", countriesString);
    dbInfoDictionary.Add("Сайт", $"<a href={dataBase.URL}>{dataBase.URL}</a>");
    dbInfoDictionary.Add("Телефон", dataBase.Phone);
}
<h2>@dataBase.Name_rus</h2>
<h4>Информация:</h4>
<table class="table table-bordered table-striped" style="width: 100%">
    <tbody>
    @foreach (var (key, value) in dbInfoDictionary)
    {
        <tr>
            <td>
                @key
            </td>
            <td>
                @(new HtmlString(value))
            </td>
        </tr>
    }
    </tbody>
</table>
<h4>Литературные ссылки:</h4>
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
        <td>Название</td>
        <td>Авторы</td>
        <td>Источник</td>
        <td>Год</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.References.Article
            </td>
            <td>
                @{
                    string authorsString = "";
                    authorsString = string.Join("\n", item.AuthorsInfos.Select(x => x.AuthorName));
                }
                @authorsString
            </td>
            <td>
                @item.References.Source
            </td>
            <td>
                @item.References.Year
            </td>
        </tr>
    }
    </tbody>
</table>

